# Simple workflow for deploying static content to GitHub Pages
name: Unit Test

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
    
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  group: "test"

jobs:

  test-node-20.10:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.10
          cache: ''
      - run: npm install
      - run: npm run test
        env:
          FORCE_COLOR: true

  test-node-20.15:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.15
          cache: ''
      - run: npm install
      - run: npm run test
        env:
          FORCE_COLOR: true